{% extends 'base.html' %}
{% block title %}Курсы{% endblock %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap gap-2 mb-3">
    <h1>Список курсов</h1>

    {% if is_methodist %}
        <a class="btn btn-primary" href="/courses/add/">Добавить курс</a>
    {% endif %}
</div>

<div class="card">
    <div class="table-responsive">
        <table class="table card-table">
            <thead>
                <tr>
                    <th class="d-none d-sm-table-cell">ID</th>
                    <th>Название</th>
                    <th class="d-none d-sm-table-cell">Факультет</th>
                    <th class="d-none d-md-table-cell">Описание</th>
                    {% if is_methodist %}
                        <th>Действия</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td class="d-none d-sm-table-cell">{{ course.id }}</td>
                    <td>{{ course.title }}</td>
                    <td class="d-none d-sm-table-cell">{{ course.department.name }}</td>
                    <td class="d-none d-md-table-cell">{{ course.description|default:"Нет описания" }}</td>
                    {% if is_methodist %}
                    <td>
                        <a class="btn btn-sm btn-warning" href="/courses/{{ course.id }}/edit/">Изменить</a>
                        <a class="btn btn-sm btn-danger" href="/courses/{{ course.id }}/delete/">Удалить</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}